$primary: #0d6efd;

$gray: #d9d9d9;
$green: #2ead61;
$red: #f21b2d;

$white: #ffffff;
$black: #121212;
$background: #2c2c2c;
$hover: #1c1c1c;

:export {
  primary: #0d6efd;

  gray: #d9d9d9;
  green: #2ead61;
  red: #f21b2d;

  white: #ffffff;
  black: #121212;
  background: #2c2c2c;
  hover: #1c1c1c;
}
